.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite -1 linear;
  }

  .App {
    /* animation: backgroundFade 1s linear; */
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes fadeAnim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes backgroundFade {
  0% {
    background-color: "#FF0000";
  }

  100% {
    background-color: "#FFFFFF";
  }
}
